%input{class: "tab", name: "tab_locale", type: "radio", role: "tab", "aria-label":t("details"), checked: ""}
%div{class:"tab-content bg-base-100 border-base-300 rounded-box p-6", role: "tabpanel"}
  %div{class: "tabs tabs-lifted", role: "tablist"}
    - I18n.available_locales.each do |locale|
      %input{class: "tab uppercase", name: "tab_details", type: "radio", role: "tab", "aria-label":locale, checked: locale == I18n.default_locale}
      %div{class:"tab-content bg-base-100 border-base-300 rounded-box p-6 w-full", role: "tabpanel"}
        %div{class: "flex flex-col gap-y-2"}
          = f.label :title, t("title")
          = f.input "title_#{locale}", input_html: { class: "input input-bordered w-full max-w-xs" }, wrapper: false, label: false
  %div{class: "flex flex-col gap-y-3"}
    %div{class: "flex flex-col gap-y-2 mt-6"}
      = f.label :status, t("status")
      = f.check_box :status, class: "toggle toggle-neutral"
    %div{class: "flex flex-col gap-y-2 mt-3"}
      = f.label :sort_order, t("sort_order")
      = f.input :sort_order, input_html: { class: "input input-bordered w-full max-w-xs" }, wrapper: false, label: false
  = render partial: 'items', locals: { f: f }
