= turbo_frame_tag "home-about" do
  - if @page.present?
    %section{class: "bg-gray-100 p-6"}
      %div{class: "grid grid-cols-1 lg:grid-cols-2 min-h-screen items-center xl:w-11/12 mx-auto"}
        %div{class: "flex flex-row items-center"}
          %div
            - if @page.second_image.present? && @page.second_image.variable?
              = image_tag @page.second_image.variant(:for_home)
            - else
              %img{src: "https://placehold.co/298x387"}
          %div
            - if @page.image.present? && @page.image.variable?
              = image_tag @page.image.variant(:for_home)
            - else
              %img{src: "https://placehold.co/532x716"}
        %div{class: "flex items-center justify-center p-6 relative"}
          %div{class: "max-w-lg"}
            -# %h1{class: "text-4xl text-gray-900 mb-6"}= @page.title
            - if @page.description.present?
              %div{class: "description mb-6"}= Sanitize.fragment(CGI.unescapeHTML(truncate(@page.description, length: 500)))
            = link_to t("show_more"), map_url(@page.slug), class: "border border-gray-900 px-8 py-3 text-gray-900 font-medium hover:bg-gray-900 hover:text-white transition-colors duration-300"