= content_for :body do
  %div{class: "flex flex-row items-center justify-between border-b pb-3 mb-6", id: "page-heading"}
    %h1{class: "text-2xl font-bold"}= t("users")
    = link_to  new_admin_user_path, class: "common-text-color" do
      %svg.w-6.h-6{:fill => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", :d => "M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z", "fill-rule" => "evenodd"}
  %div{class: "overflow-x-auto", id: "page-filters"}
    %table{class: "table w-full"}
      %thead
        %tr{class: "text-center text-black text-base"}
          %th= t("first_name")
          %th= t("last_name")
          %th= t("email")
          %th= t("controls")
      %tbody
        - @users&.each do |user|
          %tr{class: "text-center"}
            %td= user.first_name
            %td= user.last_name
            %td= user.email
            %td{class: "flex flex-row items-center justify-center gap-x-3"}
              = link_to edit_admin_user_path(user), class: "common-text-color" do
                %svg.w-4.h-4{:fill => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z"}
                  %path{:d => "M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z"}