%div{id: "vivid-card",
class: "fixed top-0 right-0 w-1/4 h-screen bg-white flex flex-col justify-center items-center p-8 z-50 transform translate-x-full transition-transform duration-300 ease-in-out",
"data-vivid-card-target": "card", "data-controller": "vivid-card"}
  %div{class: "absolute top-8 right-8 text-black text-2xl cursor-pointer font-thin", "data-action": "click->vivid-card#toggle"} ✕

  %div{class: "py-6"}
    = link_to root_path do
      - if @settings.logo.present?
        = image_tag(@settings.logo.variant(:logo), size: "241x52")
      - else
        = image_tag("https://placehold.co/241x52", size: "241x52")
  %div{class: "py-6 w-full"}
    %iframe{:allowfullscreen => "", :height => "200", :loading => "lazy", :referrerpolicy => "no-referrer-when-downgrade", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.555007791187!2d23.67952917623723!3d37.98751299987643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bcbc92241ef9%3A0x84c0878329bb3e31!2zzpHPhM-EzqzOu861zrnOsc-CIDU0LCDOkc65zrPOrM67zrXPiSAxMjIgNDE!5e0!3m2!1sel!2sgr!4v1753791505975!5m2!1sel!2sgr", :style => "border:0;", :width => "100%"}

  %div{class: "flex flex-col py-6 w-full text-black"}
    - if @settings.email.present?
      %div{class: "flex items-center gap-3"}
        %i{class: "fas fa-envelope text-sm"}
        %span{class: "text-sm"}= @settings.email
    - if @settings.address.present?
      %div{class: "flex items-center gap-3"}
        %i{class: "fas fa-map-marker-alt text-sm "}
        %span{class: "text-sm"}= @settings.address